* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile */
.center {
  justify-content: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: end;
}
.space {
  gap: 12px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.mobile {
  width: 100%;
  gap: 12px;
}
.navigation {
  width: 100%;
  height: 48px;
  justify-content: space-between;
}
.item {
  width: 49px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  height: 73px;
  justify-content: center;
  align-items: end;
  text-align: center;
}
.text {
  text-align: center;
}

.photo {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.photo1 {
  background-image: url(images/Figure1.jpg);
}
.photo2 {
  background-image: url(images/Figure2.jpg);
}
.photo3 {
  background-image: url(images/Figure3.jpg);
}
.photo4 {
  background-image: url(images/Figure4.jpg);
}
.photo5 {
  background-image: url(images/Figure5.jpg);
}
.photo6 {
  background-image: url(images/Figure6.jpg);
}
.photo7 {
  background-image: url(images/Figure7.png);
}
.photo8 {
  background-image: url(images/Figure8.jpg);
}
.photo9 {
  background-image: url(images/Figure9.jpg);
}
.font30 {
  font-size: 30px;
  font-weight: bold;
}
.font18 {
  font-size: 18px;
}
.white {
  color: white;
}

.size {
  width: 241px;
  height: 36px;
}
.buttons {
  display: flex;
  gap: 12px;
}
.blue {
  width: 107px;
}
.blue-border {
  width: 66px;
  height: 36px;
  border: solid #2997ff;
  border-radius: 35px;
  color: #2997ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.svg {
  padding: 15px 15px 15px 77.5px;
  justify-content: flex-end;
  align-items: flex-end; 
}
.whitee {
  width: 107px;
  height: 36px;
  background-color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bluee {
  color: #000000;
}
.white-border {
  width: 66px;
  height: 36px;
  border: solid white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.gap16 {
  gap: 16px;
}
.frame1 {
  padding-bottom: 36px;
}
.frame2 {
  padding-bottom: 350px;
}
.gap20 {
  gap: 20px;
}
.frame4 {
  padding-bottom: 54px;
  width: 241px;
}
.start{
  align-items: start;
  justify-content: center;
  display: flex;
}
.frame5 {
  width: 235px;
}
.frame7 {
  padding-bottom: 300px;
  width: 80%;
}
.frame8 {
  padding-bottom: 47px;
  width: 80%;
}
.gradient {
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border {
  height: 36px;
  background-color: #0071e3;
  border-radius: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.blueee {
  width: 126px;
}
.blueeee {
  width: 150px;
}
.frame9 {
  padding-bottom: 319px;
  width: 80%;
}
/* scroll */
.scroll {
  width: fit-content;
}
.scroll-container {
  width: 100vw;
  overflow: scroll;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tab {
  height: 38px;
  width: 100%;
}
.tablist {
  width: 220px;
  height: 8px;
  gap: 14px;
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
}
/* scroll */
.between {
  justify-content: space-between;
  font-size: 12px;
}
/* mobile */
@media (max-width: 768px) {
  .photo {
    height: 500px;
  }
  .scroll-container1, .caption1, .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .photo {
    height: 650px;
    flex-shrink: 0;
  }
  .photo1 {
    background: url(images/photo1.jpg) no-repeat center center;
  }
  .photo2 {
    background: url(images/photo2.jpg) no-repeat center center;
  }
  .photo3 {
    background: url(images/photo3.jpg) no-repeat center center;
  }
  .frame1, .frame2 {
    padding-bottom: 436px;
  }
  .font30 {
    font-size: 42px;
  }
  .font18 {
    font-size: 22px;
  }
  .montserrat {
    font-size: 16px;
  }
  .buttons {
    width: 207px;
    height: 44px;
  }
  .border,
  .whitee {
    width: 123px;
    height: 44px;
  }
  .blue-border,
  .white-border {
    width: 68px;
    height: 44px;
  }
  .frame5 {
    padding-bottom: 456px;
  }
  .frame7 {
    padding-bottom: 375px;
  }
  .frame9 {
  padding-bottom: 450px;
  }
  .frame92 {
    width: 150px;
  }
  .blueeee {
    width: 150px;
  }
  .scroll-container, .desktop, .caption{
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tablet {
    width: 100%;
    gap: 12px;
  }
  .scroll-container1 {
  width: 100vw;
  overflow: scroll;
  }
  .scroll1 {
  width: fit-content;
  }
}
@media (min-width: 1024px) {
  .ground {
    height: 692px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ground1 {
    background: url(images/image1.jpg) no-repeat center center;
  }
  .ground2 {
    background: url(images/image2.jpg) no-repeat center center;
  }
  .mobile, .tablet{
    display: none;
  }
  .ground3 {
    background-image: url(images/image3.jpg);
  }
  .desktop {
  display: flex;
  flex-direction: column; 
  width: 100%;
  gap: 12px;
}
  .navigation1 {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-around;
  } 
  .photo {
    height: 580px;
  }
  .montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  }
  .framee1 {
    padding-bottom: 525px;
    height: 172px;
    width: 405px;
  }
  .gap24 {
    gap: 24px;
    align-items: center;
  }
  .font30 {
    font-size: 52px;
  }
  .white {
    color: white;
  }
  .text1 {
    height: 40px;
    width: 100%;
    display: flex;
  }
  .font36 {
    font-size: 36px;
  }
  .font32 {
    font-size: 32px;
  }
  .blue-text {
    color: #2997ff;
  }
  .framee2 {
    padding-bottom: 82px;
  }
  .airpod2 {
    background-image: url(images/airpod2.jpg);
  }
  .watch1 {
    background-image: url(images/watch1.jpg);
  }
  .framee3 {
    padding-bottom: 421px;
  }
  .ipad {
    background-image: url(images/Figure3.jpg);
  }
  .card {
    background-image: url(images/card.jpg);
  }
  .blue-border {
    width: 80px;
  }
  .scroll-container2 {
  width: 100vw;
  overflow: scroll;
  display: flex;
  }
  .scroll2 {
  width: fit-content;
  display: flex;
  }
  .scroll21 {
    background-image: url(images/scroll21.png);
    width: 417px;
    height: 236px;
  }
  .text21 {
    display: flex;
    width: 223.7px;
    height: 18px;
    padding-top: 178px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .scroll23 {
    background-image: url(images/scroll23.png);
    width: 417px;
    height: 236px;
  }
  .scroll24 {
    background-image: url(images/scroll24.png);
    width: 417px;
    height: 236px;
  }
  .text22 {
    display: flex;
    height: 18px;
    padding-top: 198px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
 
}
